.grid-container {
  display: grid;
  grid-gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 400px;
}

.grid-item {
  border: 1px solid #ccc;
  /* padding: 10px; */
  text-align: center;
  overflow: hidden;
}

img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
